<%- include('../partials/header.ejs') %>

    <h1><%= title %></h1>

    <form action="/flights/<%= flight._id %>/tickets" method="POST">
        <label>Seat Number : </label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price : </label>
        <input name="price" required>
        <button type="submit">Add Ticket</button>
    </form>

<%- include('../partials/footer.ejs') %>